# === Core OpenSearch dependencies ===
opensearch-py
opensearch-py-ml
opensearch-mcp-server-py
# === Core dependencies ===
langchain
langgraph
langchain-mcp-adapters
mcp
langchain_core

# === NLP Embedding model ===
sentence-transformers
pydantic
# === Core ML/DS tools ===
pandas
numpy
scikit-learn
matplotlib

# === Utilities ===
requests
seaborn
